<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle commande </title>
</head>
<body>    
     <h2> Votre commande sur Deal Biii </h2>

     <p> Bonjour M. {{ email }}, votre commande a ete reçu avec succes ! nous vous tiendrons au courant pour la livraison de votre commande.<br>
        <strong>Merci de votre fidelite </strong> <br> <h4>Cordialement<h4>
</body>
</html>        