<footer class="bg-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>DEEL BII</h5>
        <p>Notre objectif est de vous offrir une expérience de shopping en ligne agréable et facile. Nous travaillons dur pour vous proposer les meilleurs produits aux meilleurs prix.</p>
      </div>
      <div class="col-md-3">
        <h5>Liens utiles</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'home' %}">Accueil</a></li>
          <li><a href="{% url 'product-list' %}">Boutique</a></li>
          <li><a href="{% url 'contact' %}">Contactez-nous</a></li>
          <li><a href="{% url 'contact' %}">À propos de nous</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Nous suivre</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
          <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Contactez-nous</h5>
        <ul class="list-unstyled">
          <li><i class="fas fa-map-marker-alt"></i> 123 Rue du Commerce, Dakar, Sénégal</li>
          <li><i class="fas fa-phone"></i> +221 77 123 45 67</li>
          <li><i class="fas fa-envelope"></i> info@deelbii.com</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2023 DEEL BII. Tous droits réservés.</p>
      </div>
      <div class="col-md-6 text-right">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Conditions générales</a></li>
          <li class="list-inline-item"><a href="#">Politique de confidentialité</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
